extends ../layout

block content
  div
    #main.cf.group
      .group-inner
        #content

          .content-2
            #content-primary(role='main')
              .breadcrumbs(role='navigation')
                strong Du &auml;r h&auml;r:
                | 
              .article
                h1.article-heading-h1 service och tjänster
              | 
              | 
              .listing(data-collapsable='', data-init-collapsed='true')
                .listing-header
                | 
                ol.grid.text.ordered-teasers
                  li(data-column-span='4')
                    .teaser
                      .teaser-content
                        //img(alt='', src='../../filtered/51498/rszww273h165-90/how-carbide-inserts-are-made-by--coromant-350x194-799286938-rszww273h165-90.jpg')
                        | 
                        p
                          p(href='') Sk&auml;r &ndash; analyserade ned till minsta atom
                        | 
                        //p.date-category
                          | 3 feb 2017
                          span.structural , 
                          span Artikel
                  li(data-column-span='4')
                    .teaser
                      .teaser-content
                        //img(src='../../filtered/51416/rszww273h165-90/top-center-drill-bit-880x480-114113183-rszww273h165-90.jpg', alt='Top center drill bit')
                        | 
                        p
                          p(href='') Moderna bergborrar hanterar tuffa kundutmaningar
                        | 
                        //p.date-category
                          | 30 jan 2017
                          span.structural , 
                          span Artikel
                  li(data-column-span='4')
                    .teaser
                      .teaser-content
                        //img(alt='', src='../../filtered/51592/rszww273h165-90/-och-tekniska-museet_358x--786245867-rszww273h165-90.jpg')
                        | 
                        p
                          p(href='')  och Tekniska museet g&ouml;r gemensam insats f&ouml;r teknikintresset i framtiden
                        | 
                        p.date-category
                          | 6 feb 2017
              | 
              .tabbed-module
                #all.tab-content.text
                  h2.tab-heading 
                  |     
                  |     
                  | 
                  | 
                  .news
                    .teaser
                      .teaser-heading.teaser-heading-lowercase
                        h2
                          a(href='nyheter/2017/04/sakerhet-i-fokus-alla-dagar/index.html') S&auml;kerhet i fokus &ndash; alla dagar


                      .teaser-content
                        span.date-category
                          | 28 apr 2017
                          span.structural , 
                          span Nyhet

                        p
                          | Idag uppm&auml;rksammas V&auml;rldss&auml;kerhetsdagen, World Day for Safety and Health at Work &ouml;ver hela v&auml;rlden. H&auml;lsa och s&auml;kerhet p&aring; arbetsplatsen har h&ouml;gsta prioritet p&aring;  vilket bland annat resulterat i att vi har minskat olycksfrekvensen (LTIFR) sju &aring;r i rad till en historiskt l&aring;g niv&aring;.
    | 
    .group.article-info
      .group-inner
        .content-2
          .page-actions
            .page-actions-contact
              h2 Vill du veta mer?
              | 
              ul
                li.page-action-email-us
                  a.open-in-dialog.open-email-dialog(href='') Mejla oss
            | 
            .page-actions-share
              h2 Dela med andra

              ul
                //li.page-action-facebook
                  a(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=http://www.home./se/nyheter-och-media/') Facebook

                li.page-action-linkedin
                  a(target='_blank', href='https://www.linkedin.com/shareArticle?url=http://www.home./se/nyheter-och-media/&title=Nyheter+%26+media&summary=&mini=true') LinkedIn

                //li.page-action-email
                  a(target='_blank', href='mailto:?subject=Lundberg& media&body=http://www.home./se/nyheter-och-media/') Epost
          | 
          | 
          .send-feedback
            //a.send-feedback-link(href='index-show=send-feedback.html#send-feedback') Skicka kommentar p&aring; denna sida
