extends ../layout

block content

  #main.cf.group
    .group-inner
      #content
        .breadcrumbs(role='navigation')
          strong Du &auml;r h&auml;r:
          | 
        | 
        | 
        | 
        #content-primary(role='main')
          .article.text
            h1 Produkter
            | 
            .intro
              //p
                | Lundbergss produkter &ouml;kar kundproduktiviteten samt bidrar till s&auml;krare arbetsmilj&ouml; och minskad milj&ouml;p&aring;verkan. G&aring; till v&aring;ra 
                a(href='../om-oss/industrierbjudanden/index.html') industrierbjudanden
                |  f&ouml;r att l&auml;sa mer.
          | 
          .tabbed-module
            #tab-categories.tab-content.tab-active
              h2.tab-heading 
              | 
              .exp-sections.exp-sections-product-cats
                .exp-section.collapsed
                  h2
                    img(alt='', src='../../filtered/51370/rszww100h100-90/productsmetalcutting123x123-1123724921-rszww100h100-90.jpg')
                    | Vakuum och kvarnsystem
                  | 
                  a.exp-sections-product-cat-link(href='')
                    | Till webbplatsen
                  | 
                  .exp-section-content
                    .grid
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/48227/rszww120h120-90/drilling200x200--526827883-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Sjukhus och förvärvsanläggningar
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/48228/rszww120h120-90/reaming200x200--482023211-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Skolkök och äldreboende
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/48222/rszww120h120-90/milling200x200--83644012-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Hotell och restaurang

                .exp-section.collapsed
                  h2
                    img(alt='', src='../../filtered/2202/rszww100h100-90/mining-and-construction--1341895692-rszww100h100-90.jpg')
                    | Komprimatorer
                  | 
                  a.exp-sections-product-cat-link(href='')
                    | Till webbplatsen
                  | 
                  .exp-section-content
                    .grid
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/37824/rszww120h120-90/breaker--922842334-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='http://mining.Lundbergs.com/en/products/equipment/crushing-and-screening/breaker-boom-systems-and-hydraulic-breakers')
                                | Daglivaruhandel
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/37871/rszww120h120-90/bulkmaterials200x200-1196313246-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Offentlig sektor
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/37875/rszww120h120-90/cone-crushers200x200-1351841072-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Industrier
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='../../filtered/37865/rszww120h120-90/exploration200x200--489078627-rszww120h120-90.jpg')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='')
                                | Återvinningscentraler
