div
  .group.header.header-borderless(role='banner')
    .group-inner
      .logo-and-nav-main
        a.logo(href='/', title='Gå till webbplatsens startsida')
          img(src='../images/i/lundbergs_logo_simple.svg', alt='Lundbergs AB')
        .nav-main(role='navigation')
          ul
            li.selected(data-selected='')
              a(href='/') hem
            li.selected(data-selected='')
              a(href='/') produkter
      .language
        p
          strong
          a(href='mailto:info@lundbergsab.se?Subject=Hej') Kontakt

        //a.change-language-link(href='byt-land-och-sprak/index.html')
          img(src='images/i/flags/24/se.png', alt='Sweden')
          span.structural :
          |  Byt land/spr&aring;k
