extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Balpressar
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='../images/png/produkter/balpressar.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Från och med 2015 är vi stolta återförsäljare för Strautmann Umwelttechniks produkter i Sverige.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Balpressar är en lösning för dig som hantearar kartong och wellpapp i din verksamhet där smidighet och platsutnytjand är viktigt.
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
