footer
  div
  .group.footer(role='contentinfo')
    .group-inner
      h2.structural Sidfot
      | 
      .footer-left
        img(src='images/i/logo.svg', alt='Lundbergs')
        |
         
        .statement
          //p
            | Lundbergs &auml;r en koncern inom 00- och 00, 00 och 00.
        | 
        .copyright
          p Lundbergs AB
          | 
          p Klingekärrsgatan 10, 566 31 Habo, Sverige
          | 
          p Tel 010-102 25 50
      | 
      .footer-right
        .nav-supp(role='navigation')
          ul
            li
              a(href='mailto:info@lundbergsab.se?Subject=Hej') Kontakt
            | 
            li
              a(href='https://www.google.com/maps?cid=13654931705786720425') Besök oss
        | 
        .nav-social
          h3.structural Hittas oss p&aring;:
          | 
          ul
            //li.nav-social-facebook
              span
                a(href='')
            | 
            li.nav-social-linkedin
              span
                a(href='https://www.linkedin.com/company/lundbergsab') https://www.linkedin.com/company/lundbergsab
