extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Containers
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='../images/png/produkter/container.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Containrar avsedda att kopplas till stationär komprimator för hantering av olika typer av avfall. Detta för att få en helhetslösning vad det gäller ert avfall.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Våra contienrar kan alla fraktas via lastbil och har lösningar sm möjliggöra automatisk hantering som innebär bland annat att contiener stängs när den är full.
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
