extends layout

block content
  div
    .hero.hero-layout-1.hero-light
      img(src='images/hero.png')
      .hero-inner
        .hero-content.text
          .hero-content-inner
            h2.heading-type-1
              | Svensktillverkade lösningar för 
              span  avfallshantering i generationer
            div
              // p Vi hjälper dig med kostnadseffektiv miljönytta.
              //p
  #main.cf.group
    .group-inner
      #content
        #content-primary(role='main')
          h1.structural Hem
          .grid
            div(data-column-span='4')
              .grid
                .teaser.news-teaser(data-column-span='12')
                  .teaser-heading
                    h2
                      | Vår Historia
                  .teaser-content
                    ul
                      li
                        span.date-category
                          | 2016
                          span.structural , 
                          span Bolags förvärv
                        p Habo Rostfria köper Lundbergsplåt
                      li
                        span.date-category
                          | 2014
                          span.structural , 
                          span Bolags förvärv
                        p Wastec köps upp av Habo Rostfria
                      li
                        span.date-category
                          | 1993
                          span.structural , 
                          span Bildande av bolag
                        p Wastec grundas i Blomstermåla
                      li
                        span.date-category
                          | 1957
                          span.structural , 
                          span Bildande av bolag
                        p Habo Rostfria AB grundas
                      li
                        span.date-category
                          | 1896
                          span.structural , 
                          span Bildande av bolag
                        p Det anrika Lundbergsplåt grundas

            div(data-column-span='8')
              .grid
                .teaser.teaser-floated-image(data-column-span='12')
                  //.teaser-image
                    img(alt='', src='images/png/mockup.png')
                  .teaser-content.text
                    .teaser-heading
                      h2
                        | Vi är Lundbergs AB
                    div
                      p
                        span Vi har i flera generationer jobbat med helhetslösningar och service för avfallsindustrin. 
                        | Detta vill vi nu göra på en bredare plattform vilket efter uppköp har resulterat en större produktkatalog med mer kunskap och större utbud.
                    p
                      //a.text-button(href='nyheter-och-media/tidning/index.html')
                        | G&aring; till M&ouml;t Lundbergs
                | 
                .teaser(data-column-span='6')
                  .teaser-image
                    img(src='images/png/wastec.svg', alt='Vår breda produktkatalog ger dig allt du behöver för din avfallshantering.')

                  .teaser-heading
                    h2
                      | Produkter
                  .teaser-content.text
                    div
                      p
                        | Vår breda produktkatalog ger dig allt du behöver för din avfallshantering. Kvalité är viktigt för oss därför hittar du bara de bästa produkterna inom komprimatorer, balpressar och avfallskvarnar.
                    p
                      a.text-button(href='/login')
                        | Se alla v&aring;ra produkter
                | 
                .teaser(data-column-span='6')
                  .teaser-image
                    img(src='images/png/service.svg', alt='Service för oss är viktigt, vi underhåller produkter för avfallshantering över hela Sverige.')


                  .teaser-heading
                    h2
                      | Service

                  .teaser-content.text
                    div
                      p
                        | Service för oss är viktigt, vi underhåller produkter för avfallshantering över hela Sverige. Kunskapen har hängt med oss i generationer vilket ger dig en flexibelt och kostnadseffektivt service.

                    p
                      a.text-button(href='/login')
                        | Se alla v&aring;ra tjänster
