extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Kärlvändare
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='../images/png/produkter/karlvandare.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | En vändare för lättare avfallsbehållare detta för att slipp hantera så mycket avfall manuellet som möjligt.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Lyften installeras fast vid komprimator, kross eller behållare där avfallet skall tömmas. Om lyften skall serva fler stationer väljer man en flyttbar med hjul eller för räls. Wastecl-yften innebär en stor förbättring i avfallshanteringen, den ger god arbetsmiljö och eliminerar många riskfyllda och skadeframkallande lyftmoment.

                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
