extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 NANOVAC - Mindre verksamheter
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Nanovac är lösningen för den mindre verksamheten, eller för situationer där det av praktiska skäl inte är möjligt att transportera avfallet till en separat lagringstank.
                | Nanovac placeras lämpligen i soprum e.d.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Fördelar:
            ul
              li Platsbesparande
              li Inkastet sitter monterat direkt på lagringstanken
              li Tillverkad i rostfritt stål för hållbarhet och hygien
              li Enkelt och tidsbesparande
              li Kraftfull kvarn som effektivt maler ner avfallet.
              li Rent matavfall som kan återvinnas till exempelvis biogas.
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
