extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Mobila Komprimatorer
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='../images/png/produkter/mobila.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Wastec har genom egen konstruktion och tillverkning i Sverige tagit fram marknadens lättaste mobila komprimatorer.
              p
                | Vi erbjuder dessutom kundanpassningar såsom integrerad kärlvändare, förhöjda sidor i inkastöppning och/eller med sidoinkast, luktbehandling, extra manöverpanel samt övrig kringutrustning såsom instyrningsplåtar etc.
            | &#x9;&#x9;&#x9;&#x9;
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
