extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 MICROVAC - Inkastbänk med kvarn
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='images/png/produkter/microvac.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Microvac är ett väl beprövat system för att hantera matavfall. Systemet består av en inkastbänk med en kvarn som placeras i köket, samt en vakuumpumpmodul och en lagringstank som placeras i exempelvis ett soprum.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Fördelar:
            ul
              li Platsbesparande
              li Vakuumsug innebär att avfallet kommer i kontakt med väldigt få rörliga delar, vilket gör systemet extremt driftsäkert
              li Inget matavfall i köksregionen – eliminerar problem med lukt och skadedjur
              li Enkelt och tidsbesparande
              li Kraftfull kvarn i inkastbänken som effektivt maler ner avfallet.
              li Rent matavfall som kan återvinnas till exempelvis biogas.
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
