extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Strip steel
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='/filtered/18772/rszww880mh250-90/strip-steel--396166292-rszww880mh250-90.jpg')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Sandvik is a leading manufacturer of precision strip steel. Our strip steel program includes an extensive range of steel grades with very good properties with respect to, for example, strength, hardness and workability.
            | &#x9;&#x9;&#x9;&#x9;
            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='/se/kontakta-oss/call-us-form/?sender=10765#content-primary')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='/se/kontakta-oss/email-us-form/?sender=10765#content-primary')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              div
                p
                  | The Sandvik range of strip steel covers thicknesses from 0.015 to 5 mm (0.0005 to 0.2 in.) in widths up to 400 mm (47.25 in.). We are widely acknowledged for our excellence in thin precision strip steel and 
                  a(href='/se/produkter/strip-steel/strip-products/coated-strip-steel/') coated strip steel
                  | .
                  
    h2.article-heading-h2(class='↓') Featured products
    | &#x9;&#x9;
    div
      .teaser.teaser-floated-image.teaser-clickable
        .teaser-image
          img(width='290', height='405', alt='', src='/filtered/6117/rszww290-90/compressor-valve-steel--727258916-rszww290-90.jpg')
        .teaser-content
          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
            h2
              a(href='/se/produkter/strip-steel/strip-products/compressor-valve-steel/') Compressor valve steel
          | &#x9;
          | &#x9;
          p Strip steel for the production of compressor valves
      .teaser.teaser-floated-image.teaser-clickable
        .teaser-image
          img(width='290', height='402', alt='', src='/filtered/17038/rszww290-90/knife-steel--721360420-rszww290-90.jpg')
        .teaser-content
          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
            h3
              a(href='/se/produkter/strip-steel/strip-products/knife-steel/') Knife steel
          | &#x9;
          p Strip steel for the manufacturing of knives, scissors and other edge tools
      .teaser.teaser-floated-image.teaser-clickable
        .teaser-image
          img(width='290', height='411', alt='', src='/filtered/6132/rszww290-90/spring-steel--390983300-rszww290-90.jpg')
        .teaser-content
          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
            h2
              a(href='/se/produkter/strip-steel/strip-products/spring-steel/') Spring steel
          | &#x9;
          | &#x9;
          p Strip steel for a wide range of spring applications
    | &#x9;
    | &#x9;
    .listing
      .module-highlight
        .listing-header
          h2 All strip products A-Z
        | &#x9;
        | &#x9;&#x9;&#x9;
        ul.cols-2
          li
            a(href='/se/produkter/strip-steel/strip-products/coated-strip-steel/') Coated steel strip
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/compressor-valve-steel/') Compressor valve steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/creping-blades/') Creping blades
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/doctor-blade-steel/') Doctor blade steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/food-bandsaw-steel/') Food bandsaw steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/knife-steel/') Knife steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/precision-strip-steel/') Precision strip steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/razor-blade-strip-steel/') Razor blade steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='http://www.kanthal.com/products/materials-in-wire-and-strip-form/strip/resistance-heating-strip/', rel='external') Resistance heating strip
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/shock-absorber-strip-steel/') Shock absorber strip steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/spring-steel/') Spring steel
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='http://www.kanthal.com/products/materials-in-wire-and-strip-form/strip/thermocouple-strip/', rel='external') Thermocouple strip
          | &#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='/se/produkter/strip-steel/strip-products/welding-strip/') Welding strip
    | &#x9;
    | &#x9;
    | &#x9;&#x9;
    .exp-sections.exp-sections-collapsed-margin
      .exp-section.collapsed
        h2
          button(type='button', aria-expanded='false', aria-controls='downloads-section') Nedladdningar
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        #downloads-section.exp-section-content(aria-hidden='true')
          ul.file-list
            li.file-list-popover
              span(data-popover-trigger='popover-file-sandvik-special-strip-steel')
                button.link(type='button')
                  span Sandvik Precision Strip steel (brochure)
              #popover-file-sandvik-special-strip-steel.popover(aria-expanded='false')
                p V&auml;lj spr&aring;k:
                | &#x9;
                | &#x9;&#x9;&#x9;
                div
                  a.file.pdf(href='/globalassets/global/downloads/products_downloads/strip-steel-and-strip-based-products/2014-05-15_s-300_web_pages.pdf')
                    span.structural Ladda ner Sandvik Precision Strip steel (brochure) p&aring;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    span English
                    |  
                    span.file-meta (9,3 MB)
                  | &#x9;&#x9;&#x9;&#x9;
                  a.google-docs-link(href='https://docs.google.com/viewer?url=http://smt.sandvik.com/link/4ffeb44e94c64629af8707e82942f700.aspx', title='Visa Sandvik Precision Strip steel (brochure) (9,3 MB) i Google Docs', rel='external')
                    | Visa Sandvik Precision Strip steel (brochure) (9,3 MB) i Google Docs
    | &#x9;
    | &#x9;
    .grid
      .teaser.teaser-clickable(data-column-span='6')
        .teaser-heading
          h2
            | Doctor blade steel for increased productivity
        .teaser-content.text
          div
            p
              | Learn about how you can increase your printing productivity with Sandvik Sanprint doctor blade steel.
              br
              a(href='/se/produkter/strip-steel/strip-products/doctor-blade-steel/') Read more about Sandvik Sanprint doctor blade steel
      .teaser.teaser-clickable(data-column-span='6')
        .teaser-heading
          h2
            | Alloy surcharges
        .teaser-content.text
          div
            p Alloy surcharges for cold-rolled and hardened and tempered strip products.
            p
              a(href='/se/produkter/strip-steel/alloy-surcharges/') Go to alloy surcharges
      .teaser.teaser-clickable(data-column-span='6')
        .teaser-image
          img(width='880', height='495', alt='', src='/filtered/28940/rszww880h495-90/intro-andersandelectro-01_fixed--10724065-rszww880h495-90.jpg')
        .teaser-heading
          h2
            | Fridge of the future
        .teaser-content.text
          div
            p.p1
              span.s1
                | With a classroom full of children and global appliances manufacturer Electrolux, we explored the fridge of the future.
          | &#x9;
          | &#x9;
          p
            a.text-button(href='/se/campaigns/fridge-of-the-future/')
              | Read more
