extends layout

block content

  #main.cf.group
    .group-inner
      #content
        .breadcrumbs(role='navigation')
          strong Du &auml;r h&auml;r:
          | 
        | 
        | 
        | 
        #content-primary(role='main')
          .article.text
            h1 Produkter
            | 
            .intro
              //p
                | Lundbergss produkter &ouml;kar kundproduktiviteten samt bidrar till s&auml;krare arbetsmilj&ouml; och minskad milj&ouml;p&aring;verkan. G&aring; till v&aring;ra 
                a(href='../om-oss/industrierbjudanden/index.html') industrierbjudanden
                |  f&ouml;r att l&auml;sa mer.
          | 
          .tabbed-module
            #tab-categories.tab-content.tab-active
              h2.tab-heading 
              | 
              .exp-sections.exp-sections-product-cats
                .exp-section.collapsed
                  h2
                    img(alt='', src='images/png/produkter/microvac.png')
                    | Vakumsytem och Avfallskvarnar
                  | 
                  
                  .exp-section-content
                    .grid
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/inkastbank')
                                | Inkastbänk med kvarn
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/vaccumsystemmedlagringstank')
                                | Vaccumsystem med lagringstank
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/mindreverksamheter')
                                | Anpassat till mindre verksamheter

                .exp-section.collapsed
                  h2
                    img(alt='', src='images/png/produkter/micwaste.png')
                    | Komprimatorer och Balpressar
                  | 
                  .exp-section-content
                    .grid
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/stationara')
                                | Stationära
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/mobila')
                                | Mobila
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/vataavfall')
                                | Våta avfall
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/containers')
                                | Containers
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/karlvandare')
                                | Kärlvändare
                      .teaser.teaser-floated-image(data-column-span='6')
                        .teaser-image
                          img(alt='', src='')
                        .teaser-content
                          .teaser-heading.teaser-heading-small.teaser-heading-lowercase
                            h3
                              a(href='/produkter/balpressar')
                                | Balpressar
