extends layout

block content
  
  #content-primary.pdf-content-wrapper(role='main')
    .article.text
        h1 Våta avfall
        | &#x9;&#x9;
        .article-inner
          .intro-image
            .intro-image-inner
              img(width='189', height='250', alt='', src='../images/png/produkter/bio.png')
          | &#x9;&#x9;&#x9;
          .article-inner-inner
            .intro
              p
                | Vi har även komprimatorer anpassade för hantering av vått avfall och bioavfall. De har uppsamlingskanaler med yttre anslutning för tömning av lakvatten. Containrarna är absolut täta för luktfrihet.
            | &#x9;&#x9;&#x9;&#x9;
            p
            p Maskinerna används inom avfalls/ återvinningsbranschen, industrier, sjukhus, köpcentrum, tryckerier, förpacknings och -pappersindustrin, terminallösningar m.fl.
                

            aside.no-print
              h2.structural Vill du veta mer?
              | &#x9;
              p
                a.button.button-style-2.button-color-2.open-in-dialog.open-call-dialog(href='tel:00460101022550')
                  span.icon.icon-phone
                  span Ring oss
                | &#x9;&#x9;
                a.button.button-style-2.button-color-2.open-in-dialog.open-email-dialog(href='mailto:info@lundbergsab.se?Subject=Hej')
                  span.icon.icon-email
                  span Mejla oss
            | &#x9;&#x9;&#x9;&#x9;
            div
              
